.itemCartContainer {
  border: 1px solid var(--border-gray);
  border-radius: 5px;
  text-align: center;
}
.itemCartContainer img {
  width: 100%;
  padding: 1rem;
  padding-bottom: 0;
}
.cart-container {
  background-color: var(--bg-gray);
  border-top: 1px solid var(--border-ligthgray);
  padding: 1rem 0;
  border-radius: 0 0 5px 5px;
}
.cart-container .price .quantity {
  font-weight: bold;
}
.cart-container .title {
  font-size: 1.25rem;
}
.itemCartContainer {
  display: inline-block;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  border: 5px;
  padding: 10px;
}
.btnDelete {
  opacity: 1;

  letter-spacing: 1px;
  transition: all 0.2s ease-out;
}
.btnDelete {
  font-size: 1rem;
  cursor: pointer;
  color: #3483fa;
  opacity: 1;
}

.btnClean {
  opacity: 1;
  font-size: 1rem;
  margin-left: 2rem;
  letter-spacing: 1px;
  transition: all 0.2s ease-out;
}
.btnClean {
  color: #3483fa;
  cursor: pointer;
}

.quantity {
  color: #3483fa;
  width: fit-content;
  opacity: 1;
  font-size: 1rem;
  margin-left: 2rem;
  letter-spacing: 1px;
  transition: all 0.2s ease-out;
}
.quantity {
  width: fit-content;

  cursor: pointer;
}
.order-container {
  background-color: #ffffff;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.cart-container {
  display: inline-block;
  justify-content: center;
}
.priceContainer {
  display: flex;
  justify-content: center;
}
