.item-detail-container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 50%;
  border: 5px 1px;
  text-align: center;
  /* grid-template-columns: repeat(2, 3fr);
  column-gap: 2rem;
  grid-auto-flow: column; */
}
