.btn-quantity {
  background-color: #0e8784;
  border: none;
  cursor: pointer;
  padding: 0.25rem 0.625rem;
  color: white;
  font-size: 1.1rem;
}
.cart-add-btn {
  background-color: #0e8784;
  border: none;
  cursor: pointer;
  padding: 0.45rem 0.625rem;
  color: white;
  font-size: 1.1rem;
  font-family: "Fraunces", sans-serif;
  border-radius: 2px;
}
/* //ALERT MESSAGES// */
.alert-shown {
  opacity: 1;
  transition: all 250ms linear;
}

.alert-hidden {
  opacity: 0;
  transition: all 250ms linear 2s;
}

.counter-conteiner {
  margin: 0px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid;
  width: 12rem;
  height: 5rem;
}

.counter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.counter-conteiner button {
  width: 3em;
  height: 1.8rem;
  font-size: 1rem;
}
.btn-quantity {
  background-color: #0e8784;
  border: none;
  cursor: pointer;
  padding: 0.25rem 0.625rem;
  color: white;
  font-size: 1.1rem;
}
